@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFBEB;
}

li, a {
    font-family: "Montserrat", "sans-serif"; 
    font-weight: 550;
    font-size: 22px;
    color: #1A1A1A;
    text-decoration: none;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    background-color: #FFE270;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    background-color: #FFE270;
}

.nav__links li {
    display: inline-block;
    padding: 0px 0px;
    background-color: #FFE270;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

img {
    height: 130px;
    width: auto;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

nav li a {
    text-decoration: none;
    color: black;
    background-color: #FCC75D;
    padding: 10px 15px;
    border-radius: 10px;
}

header h1 {
    background-color: #FFE270;
    font-size: 40px;
    height: 60px;
}

.text {
    text-align: center;
    margin-left: 600px;
    margin-top: 200px;
}