/*Import font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/*Apply a base style to all elements*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFBEB;
}

/*Styling for navigation bar lists and links*/
li, a {
    font-family: "Montserrat"; 
    font-weight: 550;
    font-size: 22px;
    color: #1A1A1A;
    text-decoration: none;   
}

/*Styling for header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    background-color: #FFE270;
}

.logo {
    cursor: pointer;
}

/*Styling for the navigation bar links*/
.nav__links {
    list-style: none;
    background-color: #FFE270;
}

/*Lists styling items*/
.nav__links li {
    display: inline-block;
    padding: 0px 0px;
    background-color: #FFE270;
}

/*Transition timing for navigation bar*/
.nav__links li a {
    transition: all 0.3s ease 0s;
}

/*Hover color for navigation bar*/
.nav__links li a:hover {
    color: #0088a9;
}

/*Styles for logo image*/
.logo {
    height: 130px;
    width: auto;
    vertical-align: middle;
}

/*Navigation bar spacing and basic layout*/
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

/*Styling for text on navigation bar*/
nav li a {
    text-decoration: none;
    color: black;
    background-color: #FCC75D;
    padding: 10px 15px;
    border-radius: 10px;
}

/*Main title in header*/
header h1 {
    background-color: #FFE270;
    font-size: 40px;
    height: 60px;
    font-family: "Montserrat"; 
    font-weight: 550;
}

/*Text block beside image*/
.text {
    flex: 1;
    margin-right: 0px;
    text-align: center;
}

/*Paragraphs inside the text block*/
.text p {
    font-size:25px;
    line-height: 150%;
    margin-top: 30px;
    font-family: "Montserrat"; 
    font-weight: 550;
    padding-bottom: 50px;
}

/*Heading in text block*/
.text h1 {
    font-size: 40px;
    font-family: "Montserrat"; 
}

/*Subheading in text block*/
.text h2{
    font-size: 27px;
    font-family: "Montserrat"; 
    margin-top: 30px;
}

/*Styling for pages image*/
.page_image {
    width: 550px;
    height: 390px;
    border: 4px solid #FCC75D;
    margin-left: 20px;
}

/*Container for main content, image and text*/
.content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto;
    gap: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Section for the info on why bees are important*/
.infomation {
    max-width: 700px;
    margin: 80px auto 0 150px;
    font-family: "Montserrat";
    font-size: 15px;
    padding: 0 20px;
}

/*Paragraph styling inside the info section*/
.infomation p {
    font-family: "Montserrat";
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 150%;
}

/*Heading styling for info section*/
.infomation h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

/*Adds space at the bottom of page */
body {
    padding-bottom: 50px;
}

/*Layout for the did you know box*/
.did-you-know {
    background-color: #FFE270;
    border: 4px solid #FCC75D;
    padding: 15px;
    border-radius: 8px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 220px;
    bottom: -400px;
}

/*Styling for the text in the did you know*/
.did-you-know li {
    background-color: #FFE270;
    font-family: Montserrat;
    line-height: 150%;
    text-align: center;
    font-size: 22px;
}

/*Styling for header of did you know*/
.did-you-know h3 {
    background-color: #FFE270;
    font-family: Montserrat;
    line-height: 150%;
    text-align: center;
    font-size: 24px;
}

/*Spacing at the bottom of the did you know*/
li {
    margin-bottom: 10px;
}

/*Layout for the paragraphing*/
.paragraph {
    flex: 1;
    margin-right: 0px;
    text-align: center;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}

/*Styling for the paragraph*/
.paragraph p {
    font-size:25px;
    line-height: 150%;
    margin-top: 30px;
    font-family: "Montserrat"; 
    font-weight: 550;
}

/*Styling for the heading*/
.paragraph h1 {
    font-size: 40px;
    font-family: "Montserrat"; 
}

/*Styling for the subheading*/
.paragraph h2{
    font-size: 27px;
    font-family: "Montserrat"; 
    margin-top: 30px;
}